*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #000;
    color: white;
}

.my-logo{
    width: 70px;
    height: 70px;
    overflow: hidden;
    object-fit: cover;
}

.nav-link{
    padding: 10px;
}

.custom-navbar {
  background-color: black;
}

.custom-navbar .nav-link {
  color: white !important;
}

.custom-navbar .nav-link:hover {
  color: #ff0000 !important;
}

.hero{
    height: 90vh;
    background:url('https://i.pinimg.com/originals/b5/6c/22/b56c2264f71d0e5c72c6efe2752c783a.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding:40px;
}

.text-sm-start{
    max-width: 500px;
     cursor: pointer;
}



.text-sm-start h1{
    font-size: 50px;
    color:red;
}
.text-sm-start p{
   font-size: 20px;
    margin: 15px 0;
    color: white;
}

.text-sm-start button{
    padding:12px 15px;
    background-color: red;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.models{
    padding: 60px 40px;
     cursor: pointer;
}

.models h2{
    text-align: center;
}

.model-box{
    display: flex;
    gap:25px;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    background: #111;
    width: 280px;
    border-radius: 10px;
    overflow: hidden;
    border: none;
    outline: none;
}

.card:focus,
.card:active,
.card:focus-visible {
  outline: none;
  box-shadow: none;
}

.card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card img:hover{
   border-radius: 50%;
}   


.card h3{
    margin:10px 0;
    color:red;
}

.price{
    line-height: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

button.value {
    background-color: red;
    border: none;
    color: white;
    font-size: 13px;
    padding: 10px;
    border-radius: 8px;
}

.btn {
    display: flex;
    padding: 10px;
    justify-content: end;
}


/*GALLERY*/

.gallery{
    padding: 60px 40px;
    text-align: center;
    cursor: pointer;
}

.gallery-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:15px;
    margin-top: 30px;
}

.gallery-box img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.gallery-box img:hover{
    border-radius: 50%;
}

.performance{
   padding: 60px 40px;
   text-align: center;
   cursor: pointer;
}

.perf-box{
    display: flex;
    gap:30px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.pref-box div{
    background: #111;
    padding: 30px;
    border-radius: 10px;
    width: 220px;
}

.perf-box h3{
    color:red;
}


/* RESPONSIVE */
/* @media (max-width: 768px) {
   header{
        justify-content: space-between;
        padding: 15px 20px;
    }

    .logo{
        position: static;
    }

    .menu-toggle{
        display: block;
        color: white;
    }

    nav{
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        background: #000;
        display: none;
        flex-direction: column;
        text-align: center;
    }

    nav.active{
        display: flex;
    }

    nav a{
        margin: 0;
        padding: 15px;
        border-bottom: 1px solid #222;
    }

     
        .hero{
        height: auto;
        padding: 80px 20px;
    }

    .hero-text h1{
        font-size: 32px;
    }

    .hero-text p{
        font-size: 16px;
    }

    .hero-text button{
        font-size: 14px;
        padding: 10px 14px;
    }

    .gallery-box {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 150px;
  }
} */

.car-hire{
    cursor: pointer;
}

.carousel-item{
    width: 500px;
    object-fit: cover;
}

footer{
  background:#000;
  text-align:center;
  padding:15px;
  margin-top:30px;
  color: aliceblue;
}